@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
/* img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

h1{
    color: white;
    font-size: 2.8rem;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    color: white;

}

.container{
    min-height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;;
}
.section-title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

/* Header */
#header {
    display: flex;
    padding: 2.5rem;
    background-color: #0F0126;
    justify-content: space-between;
    border-bottom: 2px solid rgba(227, 227, 227, 20%);
    
}

.logo{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.logo span {
    color: #5B0FD7;
}
/* Navigation */

#menu {
    display: flex;
    list-style: none;
    gap: 3.4rem;
    align-items: center;
}

nav ul li a{
    color: white;
    font-size: 1.6rem;    
}

#btn-mobile {
    display: none;
}

/* Seção de apresentação */
#presentation.container{
display: flex;
}

#presentation{
    background: #0F0126;
    display: flex;
}

#presentation h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation p {
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 2rem;
}

.typing-animation{
    animation: typing 1.5s steps(60) 0.5s normal ;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 20em;
    }
}

#presentation .cta{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #5B0FD7;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}
#presentation .cta:hover{
    color: white;
    font-weight: 500;
    background-color: #8f53f7;
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: #5B0FD7;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}
/* Seção Sobre mim */
#about{
background-color: #0F0126;
display: flex;
align-items: center;
}

#about img{
   position: relative;
}

#about p{
    color: white;
    font-size: 1.4rem;
    margin: 0 10rem 0 0rem;
}

/* Seção de Portfólio */

#portfolio {
    background-color: #0F0126;
}

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

}

/* #portfolio .portfolio-header h1{
    margin-bottom: 50px; 
} */


#cards{
display: flex;
justify-content: space-between;
gap: 2rem;
text-align: center;
}


#cards img{
    width: 100%;
    height: 20rem;
    position: relative;

}


.card{
background-color: white;
border-radius: 7px;
padding: 2rem;
transition: all 1s;
    cursor: pointer;
}

.card:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.05);
}


#cards h1{
    color: #5B0FD7;
}

#cards h2{
    color: #070012;
}

#cards p{
    color: #070012;
}

#portfolio .project-img img{
    transition: 0.5s ease transform;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}
#portfolio .project-img img{
    transition: 0.5s ease transform;
}
#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* Footer */
#footer{
    background-color:#0F0126;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #070012;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.teste, .redes {
    margin: 0 5rem;

}
/* Keyframes */

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/* Media Query */
@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgb(36, 2, 68);
      z-index:1000;
          /* transition: .6s;
        visibility: hidden;
        overflow-y: auto; */

    }
    #nav.active #menu{
        height: calc(100vh-70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, .05)
    }
}

@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%
    }
    #portfolio .all-projects .project-img{
        height: 100%
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }


}